@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    font-size: 1rem;
    color: white;
    background-color: #16416B;	
}

nav {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #16416B;
    max-width: 1000px;
    color: white;
}

nav button {
    display: none;
	padding: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}
button:hover{
	background-color: steelblue;
}

@media screen and (min-width: 769px) {
    nav button:nth-child(-n+3) {
        display: inline-block;
    }
}


@media screen and (max-width: 768px) {
    nav button:nth-child(4) {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    nav button:nth-last-child(-n+3) {
        width: 100%;
		text-align: left;
    }
}
main{
	margin-top: 4rem;
}
main section{
	background-color: steelblue;
	color: white;
}
main section header {
    background-color: steelblue;
	display: flex;
	padding: 1rem 0rem 0rem 0.5rem;
	align-items: center;
}

main section header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

main section article {
    margin-left: 0.5rem;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
}

main section article h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

main section article img {
    max-width: 99%;
    height: auto;
}

main section article p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
article p, article b {
  margin-left: 2rem;
}
blockquote {
    background-color: rgba(30, 144, 255, 15%);
	color: #333;
    border-left: 10px solid dodgerblue;
	border-radius: 0.5rem;
	margin: 3.5rem 0rem 3.5rem 0rem;
}
blockquote figure{
	display: flex;
    align-items: center;
    justify-content: center;
}
blockquote figure img{
	max-width: 15%;
    height: auto;
    margin: 1rem 5rem 0rem 1rem;
    border-radius: 0.5rem;
}
blockquote figure figcaption{
	margin: 0;
    font-size: 1.4rem;
}
blockquote p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer {
    font-size: 1rem;
    color: white;
    background-color: #16416B;
}
footer button{
	padding: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

